.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b0daff;
}

.card {
  width: 300px;
  height: 450px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.09);
  font-family: sans-serif;
  text-align: center;
}

.image {
  width: 90%;
  padding: 10px;
  border-radius: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.description {
  padding: 0 20px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.description p {
  font-size: 14px;
  color: gray;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}
